@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  background-color: #f9fafa;
}
#table1 {
  text-align: center;
  font-family: poppins;
  border-collapse: collapse;

  margin-top: 3vw;
  margin-left: 10vw;
  width: 82.7vw;
  height: 100vw;

  box-shadow: 0px 0.83vw 1.8vw rgba(16, 30, 115, 0.06);
}

.td {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;

  /* identical to box height, or 20px */

  /* Black/Default */

  color: #000000;
}

#table1 tr {
  border-bottom: 1px solid #e8e8e8;
}

#table1 tr {
  /* border-bottom: 1px solid #e8e8e8; */
  text-align: center;
}

thead tr {
  width: 100%;

  border-bottom: 1px solid #e8e8e8;
}
thead {
  width: 82.7vw;
  font-family: Poppins;
  font-style: normal;

  font-family: poppins;
  font-weight: 500;
  font-size: 2vh;
  color: #334d6e;
  opacity: 50%;
}
thead th {
  text-align: center;
  background-color: white;
}

.filter {
  display: flex;
  margin-top: 4vw;
  margin-left: 15vw;
}
.category {
  font-family: poppins;
  font-size: 0.8vw;

  color: #6a707e;
}
.all {
  color: #2588f8;
}
