@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  background-color: #f5f6f8;
}
#table1 {
  font-family: poppins;
  padding-top: 1vw;
  padding-right: 1vw;
  margin-top: 3vw;
  margin-left: 13vw;
  background-color: white;
  height: 100vw;

  box-shadow: 0.1vw 0.8vw 0.9vw rgba(16, 30, 115, 0.06);
}

td:nth-child(2) {
  color: black;
}

#table1 tr {
  text-align: start;
  color: #707683;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5vw;
}

thead {
  color: #334d6e;

  opacity: 50%;
}
thead th {
  text-align: start;
  background-color: white;
  color: #334d6e;
  font-family: Poppins;
  font-style: normal;
  padding-left: 2vw;
  border-bottom: 0.03vw solid#EBEFF2;
  font-weight: 400;
  font-size: 2vh;
}
tbody td {
  text-align: start;
  background-color: white;

  border-bottom: 0.03vw solid#EBEFF2;
  font-family: Poppins;
  font-style: normal;
  padding-left: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;

  font-size: 1vw;
}

.filter {
  display: flex;
  margin-top: 4vw;
  margin-left: 15vw;
}
.category {
  font-family: poppins;
  font-size: 0.8vw;

  color: #6a707e;
}
.all {
  color: #2588f8;
}
